:root{
    color: purple;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(204, 51, 255,.08);
}

.btn:hover{
    background: purple;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;

    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 2rem;
    color:#333;
    font-weight: bolder;
}
header .navbar{
  padding-left: 250px;
  padding-right: 50px;
}
header .navbar a{
    font-size: 1.8rem;
    padding:0 1.2rem;
    color:#666;
    transition: 0.5s;
}
header .navbar a:hover{
    color: purple;
    width: 100%;
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: purple;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}


.box1{
   width: 450px;
   margin: 100px auto;
   background: #fff;
   border-radius: 12px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(204, 51, 255,.08);
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: "Rubik";
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}

details summary{
   outline: none;
}


.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: left;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color: purple;
    text-decoration: underline;
}

.footer-col .links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(174, 4, 222, 0.8);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffff;
  transition: all 0.5s ease;
}
.footer-col .links a:hover{
  color: #24262b;
  background-color: rgba(246, 226, 255, 0.8);
}











}
@media(max-width:1000px){
	.content{
		width: 45%;
	}
}
@media(max-width:750px){
	.content{
		width: 100%;
	}
}
@media(max-width:1000px){
	.content2{
		width: 45%;
	}
}
@media(max-width:750px){
	.content2{
		width: 100%;
	}
}
