:root{
    color: purple;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(204, 51, 255,.08);
}

.heading span{
    color: purple;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: purple;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding: 2rem 9%;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header img{
  width: 60%;
}
header .logo{
    font-size: 2rem;
    color:#333;
    font-weight: bolder;
}

header .xyz img{
  width: 15%;
  padding-right: 5px;
  padding-top: 30px;
  float: right;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

header .java{
  padding: 0;
}

header .flex{
  width: 50%;
}

header #burger{
  width: 35px;
  color: black;
}

header #burgerlinks{
    display:none;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 135px;
    background-color: purple;
    color: white;
    z-index: 1001;
    width:100%;
    height: 200px;
}

header #liste {
  list-style: none;
  display: inherit;
  text-align: center;
  padding: 5px;
  position: relative;
  color: white;
}

header #burgerlinks a{
  text-decoration: none;
  font-size: 2.3rem;
  color: white;
}

header .abc{
  float: left;
}

header .xyz{
  float: right;
}
.headline{
  text-align: center;
  font-size: 4rem;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 110px;
}

.home .content{
    max-width: 50rem;
}

.home .content h4{
    font-size: 6rem;
    color:#333;
}

.home .content span{
    font-size: 3.5rem;
    color:var(--pink);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#999;
    padding:1rem 0;
    line-height: 1.5;
}

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#333;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:#333;
    padding-bottom: .5rem;
    font-size: 1rem;
}

.icons-container .icons span{
    color:#555;
    font-size: 1.3rem;
}

h3{
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
}

a{
	text-decoration: none;
}

.hallo p1{
  font-size: 15px;
  text-align: center;
  color: #222f3e;
  padding-top: 0 8px;
}
.hallo .headline{
	font-size: 36px;
	padding-top: 0px; /*Sollte c.a bei 40px sein*/
	text-align: center;
}
.hallo body{
	margin: 0;
	background: white;
}
.hallo h3{
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
}
.hallo a{
	text-decoration: none;
}
.hallo .galleryp{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	allign-items: center;
	margin: 50px 0;
}
.hallo .gallery2p{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	allign-items: center;
	margin: 0px 0;
}
.hallo .contentp{
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
	0 10px 10px rgba(0,0,0,0.22);
	transition: .4s;
	background: #f2f2f2;
}
.hallo .content:hover{

	transform: translate(0px, -8px);
}
.hallo .content2p{
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
	0 10px 10px rgba(0,0,0,0.22);
	transition: .4s;
	background: #f2f2f2;
}
.hallo .content2p:hover{

	transform: translate(0px, -8px);
}
.hallo p{
	text-align: center;
	color: #b2bec3;
	padding-top: 0 8px;
}
.hallo h6{
	font-size:26px;
	text-align: center;
	color: #222f3e;
	margin: 0;
}
.hallo ul{
	list-style: none;
	display: flex;
	justify-content: center;
	allign-items: center;
	padding: 5px;
}
.hallo li{
	padding: 5px;
}
.hallo button{
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding:15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	 border-bottom-right-radius: 20px;
	 border-bottom-left-radius: 20px;

}
.hallo .buy-1{
	background: #960FC4;
}
.hallo .buy-2{
	background: #960FC4;
}
.hallo .buy-3{
	background: #960FC4;
}
.hallo .buy-4{
	background: #960FC4;

}
.hallo .buy-5{
	background: #960FC4;
}
.hallo .buy-6{
	background: #960FC4;
}
.hallo .nav-links{

  flex: 1;
  text-align: center;

}
.hallo .nav-links ul li{

  list-style: none;
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.hallo .nav-links ul li a{
  color: #960FC4;;
  text-decoration: none;
  font-size: 13px;
}
.hallo .nav-links ul li::after{

  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.hallo .nav-links ul li:hover::after{
  width: 100%;
}


.custom-shape-divider-bottom-1666856598 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1666856598 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 166px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1666856598 .shape-fill {
    fill: #960FC4;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}






.oben{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.oben .wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.oben .container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.oben .img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.oben .login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.oben .img img{
	width: 500px;
}

.oben form{
	width: 360px;
}

.oben .login-content img{
    height: 100px;
}

.oben .login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.oben .login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.oben .login-content .input-div.one{
	margin-top: 0;
}

.oben .i{
	color: purple;
	display: flex;
	justify-content: center;
	align-items: center;
}

.oben .i i{
	transition: .3s;
}

.oben .input-div > div{
    position: relative;
	height: 45px;
}

.oben .input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.oben .input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: purple;
	transition: .4s;
}

.oben .input-div:before{
	right: 50%;
}

.oben .input-div:after{
	left: 50%;
}

.oben .input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.oben .input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.oben .input-div.focus > .i > i{
	color: purple;
}

.oben .input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'Montserrat', sans-serif;
}

.oben .input-div.pass{
	margin-bottom: 4px;
}

.oben a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.oben a:hover{
	color: purple;
}

.oben .btn{
	 display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.oben .btn:hover{
	background: purple;
}









.footer{
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: left;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color: purple;
    text-decoration: underline;
}

.footer-col .links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(174, 4, 222, 0.8);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffff;
  transition: all 0.5s ease;
}

.footer-col .links a:hover{
  color: #24262b;
  background-color: rgba(246, 226, 255, 0.8);
}


.box1{
   width: 450px;
   margin: 100px auto;
   background: #fff;
   border-radius: 12px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
   padding-top: 20px;
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: "Rubik";
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}

details summary{
   outline: none;
}


.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: left;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color: purple;
    text-decoration: underline;
}

.footer-col .links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(174, 4, 222, 0.8);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffff;
  transition: all 0.5s ease;
}
.footer-col .links a:hover{
  color: #24262b;
  background-color: rgba(246, 226, 255, 0.8);
}
.impressum{
  font-size: 2rem;
  text-align: left;
  padding-left: 10%;
  color: #88888;
}
.impressum p {
  font-size: 15px;
  text-align: left;
  padding-top: 0 8px;
  color: #000D00;
}
.impressum p1 {
  text-align: left;
  color: #696969;
  font-size: 16px;
  padding-top: 0 8px;
}
.impressum h1 {
   text-align: left;
   font-size: 30px;
   margin: 0;
   padding-top: 10px;
}
.impressum h2 {
   text-align: left;
   font-size: 18px;
   color: #000D00;
   margin: 0;
   padding-top: 10px;
}

@media(min-width:1px) {
  .abc{
    width: 40%;
  }
  .xyz #burger{
    width: 40%;
  }
  .xyz{
    width:25%;
  }
  .xyz #login{
    width: 44%;
  }
  .abc img{
    width:200%;
  }
}
@media (min-width:300px) {
  .abc{
    width: 40%;
  }
  .xyz #burger{
    width: 35%;
  }
  .xyz{
    width:30%;
  }
  .xyz #login{
    width: 39%;
  }
  .abc img{
    width:180%;
  }
}
@media(min-width:760px) {
  .abc{
    width: 40%;
  }
  .xyz #burger{
    width: 15%;
  }
  .xyz{
    width:50%;
  }
  .xyz #login{
    width: 15%;
  }
  .abc img{
    width:150%;
  }
}
@media(min-width:760px) {
  .abc{
    width: 40%;
  }
  .xyz #burger{
    width: 10%;
  }
  .xyz{
    width:50%;
  }
  .xyz #login{
    width: 10%;
  }
  .abc img{
    width:100%;
  }
}
@media(min-width:1200px){
  .abc{
    width: 40%;
  }
  .xyz #burger{
    width: 10%;
  }
  .xyz{
    width:50%;
  }
  .xyz #login{
    width: 10%;
  }
  .abc img{
    width:100%;
  }
}
@media(min-width:1300px){
  .abc{
    width: 40%;
  }
  .xyz #burger{
    width: 8%;
  }
  .xyz{
    width:50%;
  }
  .xyz #login{
    width: 9%;
  }
  .abc img{
    width:80%;
  }
}

@media(max-width:1000px){
.hallo 	.contentp{
		width: 45%;
	}
}
@media(max-width:750px){
.hallo 	.contenpt{
		width: 100%;
	}
}
@media(max-width:1000px){
.hallo 	.content2p{
		width: 45%;
	}
}
@media(max-width:750px){
.hallo 	.content2{
		width: 100%;
	}
}
