*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.head{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(191,64,191,0.4),rgb(191,64,191,0.4)),
  url("https://img.freepik.com/free-vector/man-work-with-computer-office-with-future-city-landscape-window-vector-cartoon-illustration-futuristic-cityscape-with-neon-buildings-road-night_107791-10399.jpg?w=1800&t=st=1666682648~exp=1666683248~hmac=302ed333b7e059e84034f7695c7f3e21f84ef5a2819d8b6aa126d724f582c1a9");

  /*url("https://img.freepik.com/free-vector/white-gray-geometric-pattern-background-vector_53876-136510.jpg?w=2000&t=st=1666622172~exp=1666622772~hmac=5c04564bdd6b3e5f6717babdce72e550e75ab2431c0b28c38fb7bb6bc5af0cff");
  */


  /* versteh ich nich aber anscheinend für hover effects
  
  .hvr-grow {
      display: inline-block;
      vertical-align: middle;
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      transition-duration: 0.3s;
      transition-property: transform;
  }

  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
      transform: scale(1.1);
  }
*/
  background-position: center;
  background-size: cover;
  position: relative;

}
nav{

      display: flex;
      padding: "2% 6%";  /* ->wo schildkröte chillt*/
      justify-content: space-between;
      align-items: center;

}
nav img{

  /*width: "150px";*/ /*wie groß bild von schildi ist*/

}
.pic{
    position: absolute;
}


.nav-links{

  flex: 1;
  text-align: center;

}
.nav-links ul li{

  list-style: none;
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{

  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
      width: 90%;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
}
.text-box h1{
      font-size: 62px;
}
.text.box p{
      margin: 10px 0 40px;
      font-size: 14px;
      color: #fff;
}
.block{
      display: inline-block;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      padding: 15px 34px;
      font-size: 13px;
      background: transparent;
      position: relative;
      cursor: pointer;
}
.produkte{
      width: 90%;
      margin: auto;
      text-align: center;
      padding-top: 150px;
}
h1{
      font-size: 36px;
      font-weight: 600;
}
p1{
      color: #702963;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      padding: 10px;
}
.reihe{
  margin-top: 5%;
  display:flex;
  justify-content:space-between;
}
.produktreihe{
  flex-basis: 30%;
  background: #dda0dd;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 10px 12px;
  box-sizing: border-box;
}
.reihe2{
  margin-top: 5%;
  display:flex;
  justify-content:space-between;
}
.produktreihe2{
  flex-basis: 30%;
  background: #dda0dd;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 10px 12px;
  box-sizing: border-box;
}
