*{font-family: 'Montserrat', sans-serif;}
.hallo .headline{
	font-size: 36px;
	padding-top: 0px; /*Sollte c.a bei 40px sein*/
	text-align: center;
}
.hallo body{
	margin: 0;
	background: white;
}
.hallo h3{
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
}
.hallo a{
	text-decoration: none;
}
.hallo .gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	allign-items: center;
	margin: 50px 0;
}
.hallo .gallery2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	allign-items: center;
	margin: 0px 0;
}
.hallo .content{
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
	0 10px 10px rgba(0,0,0,0.22);
	transition: .4s;
	background: #f2f2f2;
}
.hallo .content:hover{

	transform: translate(0px, -8px);
}
.hallo .content2{
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
	0 10px 10px rgba(0,0,0,0.22);
	transition: .4s;
	background: #f2f2f2;
}
.hallo .content2:hover{

	transform: translate(0px, -8px);
}
.hallo p{
	text-align: center;
	color: #b2bec3;
	padding-top: 0 8px;
}
.hallo h6{
	font-size:26px;
	text-align: center;
	color: #222f3e;
	margin: 0;
}
.hallo ul{
	list-style: none;
	display: flex;
	justify-content: center;
	allign-items: center;
	padding: 5px;
}
.hallo li{
	padding: 5px;
}
.hallo button{
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding:15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	 border-bottom-right-radius: 20px;
	 border-bottom-left-radius: 20px;

}
.hallo .buy-1{
	background: #960FC4;
}
.hallo .buy-2{
	background: #960FC4;
}
.hallo .buy-3{
	background: #960FC4;
}
.hallo .buy-4{
	background: #960FC4;
	
}
.hallo .buy-5{
	background: #960FC4;
}
.hallo .buy-6{
	background: #960FC4;
}
.hallo .nav-links{

  flex: 1;
  text-align: center;

}
.hallo .nav-links ul li{

  list-style: none;
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.hallo .nav-links ul li a{
  color: #960FC4;;
  text-decoration: none;
  font-size: 13px;
}
.hallo .nav-links ul li::after{

  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.hallo .nav-links ul li:hover::after{
  width: 100%;
}

@media(max-width:1000px){
.hallo 	.content{
		width: 45%;
	}
}
@media(max-width:750px){
.hallo 	.content{
		width: 100%;
	}
}
@media(max-width:1000px){
.hallo 	.content2{
		width: 45%;
	}
}
@media(max-width:750px){
.hallo 	.content2{
		width: 100%;
	}
}
